
@keyframes diagonal1 {
  0% {
      transform: translatex(0px) translatey(0px)
  }
  50% {
      transform: translatex(25px) translatey(40px);
  }
  100% {
      transform: translatex(0px) translatey(0px)
  }
}

@keyframes diagonal2 {
  0% {
      transform: translatex(0px) translatey(0px)
  }
  50% {
      transform: translatex(-25px) translatey(-40px);
  }
  100% {
      transform: translatex(0px) translatey(0px)
  }
}


#loader{
  display:flex;
  margin-top:10em;
  justify-content:center;
}

#square1{
  height:60; 
  width:45;
  border-radius:6px;
  background:rgba(255, 146, 84, 0.7);
  position:relative;
  bottom:20px;
  left:10px;
  animation: diagonal1 2s infinite
}

#square2{
  height:60; 
  width:45;
  border-radius:6px;
  background:rgba(162, 121, 188, 0.7);
  position:relative;
  bottom:20px;
  left:10px;
  animation: diagonal2 2s infinite
}